.presentation__buttons {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.button {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
  font-family: inherit;
  width: 100%;
  padding: 0.4rem 0.8rem;
  height: 3.2rem;
  border: none;
  border-radius: 0.8rem;
  text-align: center;
  cursor: pointer;
  color: var(--white);
  transition: background-color 0.2s ease-in-out;
}

.button--color-primary {
  background-color: var(--color-primary);

  &:hover {
    background-color: #ba68f2;
  }
}

.button--color-secondary {
  background-color: var(--color-secondary);

  &:hover {
    background-color: #fc7e6f;
  }
}
