---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Presentation from "../components/Presentation.astro";
import Projects from "../components/Projects.astro";
import Experience from "../components/Experience.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Katy Barboza">
	<div class="container">
		<Header />
		<Presentation />
		<Projects />
		<Experience />
		<Footer />
	</div>
</Layout>
