---
import Form from "../components/Form.astro";
import SocialMedia from "./SocialMedia.astro";
---

<footer class="footer">
    <div class="footer__message">
        <h2 class="footer__title">Enviar un mensaje</h2>
        <Form />
    </div>
    <SocialMedia />
</footer>
