<form class="form">
    <div class="form__fieldsets">
        <fieldset class="form__fieldset">
            <label for="name" class="form__label">Nombre</label>
            <input type="text" class="form__input" id="name" />
        </fieldset>
        <fieldset class="form__fieldset">
            <label for="email" class="form__label">Correo electrónico</label>
            <input type="email" class="form__input" id="email" />
        </fieldset>
        <fieldset class="form__fieldset">
            <label for="message" class="form__label">Mensaje</label>
            <textarea class="form__textarea" id="message"></textarea>
        </fieldset>
    </div>
    <button class="button button--small button--color-primary"
        >Enviar mensaje</button
    >
</form>
