---
import Project from "../components/Project.astro";
import json from "../data/projects.json";

const projects = json;

const tabs = ["Figma", "FrontEnd Dev", "Challenges"];
---

<main class="projects">
    <h2 class="projects__title">Mis proyectos</h2>
    <nav class="projects__nav">
        <ul class="projects__list">
            {
                tabs.map((tab) => (
                    <li class="projects__item">
                        <a href="#" class="projects__link">
                            {tab}
                        </a>
                    </li>
                ))
            }
        </ul>
    </nav>
    <div class="scroll">
        <section class="projects__cards">
            {
                projects.map((project) => (
                    <Project
                        img={project.img}
                        title={project.title}
                        tools={project.tools}
                    />
                ))
            }
        </section>
    </div>
</main>
