---
import Link from "./Link.astro";

export interface Props {
    img: string;
    title: string;
    tools: string[];
}

const { img, title, tools } = Astro.props;
---

<article class="projects__card">
    <figure class="projects__figure">
        <img src={img} alt="" class="projects__img" />
    </figure>
    <h3 class="projects__subtitle">{title}</h3>
    <ul class="projects__tools">
        {tools.map((tool) => <li class="projects__tool">{tool}</li>)}
    </ul>
    <div class="projects__buttons">
        <Link title="Ver Proyecto" color="primary" />
        <Link title="Ver en GitHub" color="secondary" />
    </div>
</article>
